   <!-- ------------------START HERO SECTION----------------- -->
   <div class="hero-section d-flex align-items-center">
    <div class="">
      <div>
        <div id="carouselExampleIndicators" class="carousel slide pt-xl-0 pt-4" data-bs-ride="true">
          <div class="carousel-indicators justify-content-start align-items-center gap-5">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active dot1"
              aria-current="true" aria-label="Slide 1">
              <div class="dot"></div>
            </button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2" class="dot2">
              <div class="dot"></div>
            </button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3" class="dot3">
              <div class="dot"></div>
            </button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item min-h-100"
            *ngFor="let slide of slidesSorted; let i =index"
            [ngClass]="{
              'active': slide.order == 1,
              'hero-bg3': slide.category==='Outsource',
              'hero-bg1': slide.category==='Marking',
              'hero-bg2':slide.category==='Trendy Inside-Out'
             }"
            >
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="carousel-content">
                      <strong class="marking fs-5 mt-3"
                      [ngStyle]="{'color':slide.colorCode }">
                        {{slide?.category}}</strong>
                      <h1 class="title fw-bold mb-4"
                      [ngClass]="{
                      'title3_bg': slide.category==='Outsource',
                      'title1_bg': slide.category==='Marking',
                      'title2_bg':slide.category==='Trendy Inside-Out'
                     }"
                      >{{slide?.title}}</h1>
                      <p class="desc-color lh-base mb-5 w-75 w-sm-100 lh-lg">
                        {{slide?.brief}}
                      </p>
                      <div class="d-flex gap-4 align-items-center">
                        <button class="btn btn-main text-white px-3">Find out more</button>
                        <div class="d-flex align-items-center gap-3">
                          <i class="fas fa-play-circle text-danger fs-1"></i>
                          <p class="desc-color">Play Demo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-6">
                  <div class="d-lg-block d-none">
                    <img src="{{slide.imgUrl}}" class="w-auto" alt="">
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="carousel-item hero-bg2 min-h-100">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="carousel-content">
                      <strong class="trendy fs-5">TRENDY INSIDE-OUT</strong>
                      <h1 class="title fw-bold title2_bg mb-4">Crafty Minds Reshaping</h1>
                      <p class="desc-color lh-base mb-5 w-75 w-sm-100 lh-lg">Link Development, the global technology solutions provider and an A15 company.</p>
                      <div class="d-flex gap-4 align-items-center">
                        <button class="btn btn-main text-white px-3">Find out more</button>
                        <div class="d-flex align-items-center gap-3">
                          <i class="fas fa-play-circle text-danger fs-1"></i>
                          <p class="desc-color">Play Demo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-6">
                  <div class="d-lg-block d-none">
                    <img src="assets/image/Traveller 1 (1).svg" class="w-auto" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item hero-bg3 min-h-100">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="carousel-content">
                      <strong class="outsource fs-5">OUTSOURCE</strong>
                      <h1 class="title fw-bold title3_bg mb-4">Crafty Minds Reshaping</h1>
                      <p class="desc-color lh-base mb-5 w-75 w-sm-100 lh-lg">Link Development, the global technology solutions provider and an A15 company.</p>
                      <div class="d-flex gap-4 align-items-center">
                        <button class="btn btn-main text-white px-3">Find out more</button>
                        <div class="d-flex align-items-center gap-3">
                          <i class="fas fa-play-circle text-danger fs-1"></i>
                          <p class="desc-color">Play Demo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-6">
                  <div class="d-lg-block d-none">
                    <img src="assets/image/Traveller 1 (2).svg" class="w-auto" alt="">
                  </div>
                </div>
              </div>
            </div> -->



          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------END HERO SECTION----------------- -->
