.media{
  // background-image: url(../image/media.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
}
.media .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #0ECEFF;
  color: #fff;
}
.media .nav-pills .nav-link{
  background-color: #E3E3E3;
  color: #181E4B;
  border-radius: 10px
}
.media-img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0 ;
}
.media-card{
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  border-radius: 10px;
}
.media-desc {
  line-height: 1.4rem !important;
  height: 4.2rem !important;
  overflow: hidden;
  white-space: inherit;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 10px
}

.media-icon{
  color: #0ECEFF;
}
.media .tab{
  background-color: #E3E3E3;
  color: #181E4B;
}
