<div class="media-card">
  <div>
    <img src="assets/image/media1.png" class="media-img" alt="">
  </div>
  <div class="px-3 py-4">
    <p class="desc-color fw-bold media-desc">Let us commit to do our part and advance the promise of equality, justice</p>
    <div class="d-flex align-items-center gap-2">
      <i class="fas fa-calendar-alt media-icon"></i>
      <span class="text-muted">Wed 12 Aug 2022</span>
    </div>
    <div class="mt-4 d-flex justify-content-between">
      <span class="tab px-4 rounded-pill">Economics</span>
      <div class="d-flex align-items-center gap-2">
        <i class="far fa-heart media-icon fs-5"></i>
        <i class="fas fa-share-alt media-icon"></i>
      </div>
    </div>
  </div>
</div>
