<app-slider></app-slider>
<app-settings></app-settings>


  <!-- ------------------START THINGS----------------- -->
  <div class="things py-5">
    <div class="row align-items-center g-0 things-content">
      <div class="col-lg-7 col-md-12 order-lg-1 order-2">
        <div class="row g-0 align-items-center ms-lg-5 ms-0">
          <div class="col-md-4">
            <div class="position-relative things-img-content transformation">
              <div class="overlay"></div>
              <div class="position-absolute p-4 things-titles text-white">
                <h4 class="mb-2 fs-4 fw-bold">Transformation</h4>
                <a href="#" class="text-white read-more d-flex align-items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg><span>Read more</span></a>
              </div>
              <img src="assets/image/layer1.svg" class="w-100" alt="">
            </div>
          </div>

          <div class="col-md-4 mt-md-5">
            <div class="position-relative things-img-content">
              <div class="overlay"></div>
              <div class="position-absolute p-4 things-titles text-white">
                <h4 class="mb-2 fs-4 fw-bold">Envision</h4>
                <a href="#" class="text-white read-more d-flex align-items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg><span>Read more</span></a>
              </div>
              <img src="assets/image/layer2.svg" class="w-100" alt="">
            </div>

            <div class="position-relative things-img-content">
              <div class="overlay"></div>
              <div class="position-absolute p-4 things-titles text-white">
                <h4 class="mb-2 fs-4 fw-bold">Dynamics 365</h4>
                <a href="#" class="text-white read-more d-flex align-items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg><span>Read more</span></a>
              </div>
              <img src="assets/image/layer3.svg" class="w-100" alt="">
            </div>
          </div>

          <div class="col-md-4 mb-md-5">

            <div class="position-relative things-img-content">
              <div class="overlay"></div>
              <div class="position-absolute p-4 things-titles text-white">
                <h4 class="mb-2 fs-4 fw-bold">Envision</h4>
                <a href="#" class="text-white read-more d-flex align-items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg><span>Read more</span></a>
              </div>
              <img src="assets/image/layer4.svg" class="w-100" alt="">
            </div>

            <div class="position-relative things-img-content">
              <div class="overlay"></div>
              <div class="position-absolute p-4 things-titles text-white">
                <h4 class="mb-2 fs-4 fw-bold">Dynamics 365</h4>
                <a href="#" class="text-white read-more d-flex align-items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg><span>Read more</span></a>
              </div>
              <img src="assets/image/layer5.svg" class="w-100" alt="">
            </div>

          </div>

        </div>

      </div>
      <div class="col-lg-5 col-md-12 order-lg-2 order-1">
       <div class="pe-lg-5 p-4">
        <h2 class="title2 text-end "> We Deliver
          <span class="d-block">Digital Productivity</span></h2>
          <p class="text-white text-end fs-5-2 my-3"> We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners. </p>
       </div>
      </div>
    </div>
</div>
<!-- ------------------END THINGS----------------- -->



  <!-- ------------------START MEDIA----------------- -->
  <div class="media py-4">
    <div class="container">
      <p class="text-center desc-color">Media</p>
      <h1 class="title2 fw-bold mt-3 text-center">Top News</h1>

      <div>
        <ul class="nav nav-pills mt-3 mb-4 d-flex justify-content-center gap-4" id="pills-tab" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-all-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-all" type="button"
            role="tab" aria-controls="pills-all" aria-selected="true">All</button>
          </li>
          <li class="nav-item" role="presentation" *ngFor="let category of categories">
            <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">{{category.name}}</button>
          </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
            <div class="row">
              <div class="col-lg-4 col-sm-6 mb-4">
                <app-news-item></app-news-item>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-main text-white px-5 ">View All News</button>
        </div>
      </div>


    </div>
  </div>
  <!-- ------------------End MEDIA----------------- -->
