
/* setting */
.setting .dropdown{
  top: 50%;
  right: 0%;
  z-index: 234;

}
.setting .dropdown-toggle::after{
  display: none;
}
.setting .setting-btn{
  background-color: #181E4B;
  color: #fff;
  width: 40px;
  height: 40px;
}
.setting .setting-btn i{
  animation: rotate 4s infinite linear;
}
.setting .dropdown-menu{
  top: -40px !important;
  right: 40px !important;
  min-width: 15rem;
}
.form-check-input:checked{
  background-color: #F215B6;
  border-color: #F215B6;
}
